header {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  padding: 20px;
  background-color: #eef6d885;
  align-items: center;
  justify-items: center;
  font-family: "jost";
}

header nav ul a {
  font-size: 20px;
}

nav {
  display: contents;
}

ul {
  display: contents;
  list-style: none;
}

.logo {
  grid-column: 3/4;
  grid-row: 1/2;
}

li {
  grid-row: 1/2;
}

.logo img {
  width: 155px;
  height: 125px;
}

/* nav {
  display: flex;
  align-items: center;
} */

/* .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
} */

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #24321e;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #a7bf95;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #24321e;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #f2f2f2;
    position: absolute;
    top: 60px;
    left: -50px;
    width: 100%;
    padding-right: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 101;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
