/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

body {
  background-color: #f2f2f2;
  list-style: none;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "merriweather";
  src: url("webfontkit-20240215-060831/merriweather-regular-webfont.woff2") format("woff2");
  src: url("webfontkit-20240215-060831/merriweather-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost";
  src: url("webfontkit-20240215-061302/jost-variablefont_wght-webfont.woff2") format("woff2");
  src: url("webfontkit-20240215-061302/jost-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* TEKST START*/
h1 {
  color: #24321e;
  font-size: 2rem;
  font-family: "merriweather";
}

h2 {
  color: #24321e;
  font-size: 1.5rem;
  font-family: "merriweather";
}

p {
  color: #24321e;
  font-size: 1rem;
  font-family: "jost";
}

a {
  color: #24321e;
  font-size: 1rem;
}

a:hover {
  color: #a7bf95;
}

/* Frontpage */
.frontpage_join {
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: #a7bf95;
  padding: 5rem;
}

.frontpage_join h1 {
  color: #f2f2f2;
}

.form-felt {
  color: #f2f2f2;
  margin-bottom: 2rem;
}

#navn,
#email {
  width: 300px;
  height: 25px;
}

label {
  display: block; /*starter normalt på en ny linje og strækker sig i bredden af deres container.*/
  margin-bottom: 5px;
}

.kontaktform {
  display: flex;
  flex-direction: column; /* Dette angiver, at 1st child elementerne af .kontaktform skal placeres i en lodret kolonne.*/
  align-items: center; /*Dette centrerer elementerne langs tværs af den vandrette akse*/
  justify-content: center; /*Dette centrerer elementerne langs tværs af den lodrette akse*/
}
.send_knap {
  background-color: #08a64d;
  color: #f2f2f2;
  padding: 1rem 3rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase; /*tekst til store bogstaver*/
}
.send_knap:hover {
  color: #a7bf95;
}

.frontpage_mushrooms {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.frontpage_mushrooms h2 {
  color: #f2f2f2;
}

.div_foraging {
  background-color: #214827;
  padding: 5rem;
}

.div_recipes {
  background-color: #b5b4b4;
  padding: 4rem;
}

.frontpage_foraging {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #4ebf7f;
  padding: 4rem;
}

.frontpage_foraging img {
  grid-row: 1/4;
  grid-column: 2/3;
  margin: auto;
}

.frontpage_foraging_link {
  margin: auto;
  text-align: center;
  grid-row: 2/3;
}
.read_more_frontpage {
  background-color: #f2f2f2;
  display: inline;
  padding: 0.3rem;
  border-radius: 5px;
}

.frontpage_foraging h1 {
  color: #f2f2f2;
}

.frontpage_foraging img {
  width: 30%;
  height: auto;
}
.frontpage_follow {
  display: grid;
  grid-template-columns: 1fr 2fr;

  overflow: hidden;
}
.frotpage_visit {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.facebook {
  width: 20%;
  margin: auto;
}

.instagram {
  width: 42%;
  margin: auto;
}

.frontpage_follow h2 {
  color: #f2f2f2;
}

.frontpage_follow_us {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
  max-height: 40vh;
}

.forrest {
  height: 100%;
  object-fit: cover;
  grid-column: 1/5;
  grid-row: 1/6;
}
.arrow {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 25%;
  margin: auto;
}

.frontpage_follow_us h2 {
  grid-column: 2/4;
  grid-row: 3/4;
  z-index: 1000;
  text-align: center;
  justify-content: center;
}

.frotpage_visit {
  background-color: #a7bf95;
}
.video_container {
  height: 90vh;
  overflow: hidden;
}
video {
  object-fit: cover;
}
/* Mushrooms */

/* Foraging */

/* Recipes */

/* Mushroomlist */

/* Recipelist */

@media (min-width: 800px) {
}
